.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem{
    flex: 1;
    margin : 0 20px;
    padding : 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width : 900px)  {
    .featured{
        flex-wrap: wrap;
    }

    .featuredItem{
        margin : 10px;
    }
}

.featuredItem:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin : 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 25px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color : red;
}

.featuredSub{
    font-size: 15px;
    font-weight: 500;
    color : grey;
}